@import "../../style/common";

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
  color: $primary-color;
  background: $bg-gray;
}
